include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.md

recursive-include alethia/data *.csv *.json *.yml *.yaml
recursive-include tests *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
